@charset "utf-8";
@import url(./reset/normalize.css);
@import url(./reset/reset.css);
@import url(./module/a11y.css);
@import url(./typography/textstyle.css);
@import url(./module/designpart.css);
@import url(./style/public.css);
@import url(./style/background.css);

body {
    /* background-color: yellow; */
}
.container {
    display: flex;
    flex-direction: column;
}
.appMain {
    display: flex;
}
.appMain .book {
    flex-basis: 320px;
}
.appMain .news {
    flex-basis: 660px;
}
.appMain .board {
    flex-basis: 320px;
}
.appMain .favorite {
    flex-basis: 220px;
    order: 1;
}
.appMain .twitter {
    flex-basis: 420px;
}