body {
    background-color: skyblue;
    font-size: 1.6rem;
}
.container {
    justify-content: center;
}
.appHeader, .appMain {
    width: 1000px;
}
.appNavigation, .appFooter {
    width: 100%;
}
.appMain {
    height: 600px;
    justify-content: space-between;
    align-items: stretch;
}
.book {
    width: 32%;
}
.news {
    width: 66%;
}
.board {
    width: 32%;
}
.favorite {
    width: 22%;
    order: 1;
}
.twitter {
    width: 42%;
}
