body {
    background-color: skyblue;
    font-size: 1.6rem;
}
.container {
    
}
.appHeader {
    width: 1000px;
    margin: 0 auto;
}
.appNavigation {
}
.appMain {
    width: 1000px;
    margin: 0 auto;
    height: 600px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
.appMain .book {
    flex-basis: 320px;
}
.appMain .news {
    flex-basis: 660px;
}
.appMain .board {
    flex-basis: 320px;
}
.appMain .favorite {
    flex-basis: 220px;
    order: 1;
}
.appMain .twitter {
    flex-basis: 420px;
}
.appFooter {
}